<h2 style="font-size: 24px;text-transform: uppercase;font-weight:100;">{{ todaysDate | date : 'EEEE, MMMM d' }}</h2>
<div id="div1" style="margin:30px 0 0 0"></div>
<ul id="transactions" class="list-unstyled clearfix" style="font-weight:200;width:60%;margin:30px auto 30px auto" >
    <% var total = 0; %>
    <% for(var i=0; i < transactions.length; i++) { %>
    <li>
    	<div class="row-fluid">
    		<div class="col-xs-8 text-left"><%= transactions[i].get("label") %></div> 
    		<div class="col-xs-4 text-right">$<%= parseFloat(transactions[i].get("amount") / 100).toFixed(2) %></div>
		</div>
	</li>
    <% total = total + transactions[i].get("amount"); %>
    <% } %>
    <li class="row-fluid">
    			<div class="col-xs-8 text-left">Total purchases</div>
    			<div class="col-xs-4 text-right">$<%= parseFloat(total / 100).toFixed(2) %></div>
	</li>
</ul>

	<div class="row-fluid">
<div class="col-xs-6">
	<a href="#/buckets" class="btn btn-teal btn-lg">Save</a>
</div>
<div class="col-xs-6">
<a href="#/spend" class="btn btn-teal btn-lg">Spend</a>
</div>
	</div>

<!-- <a href="#/settings">Go to settings</a> -->

<script language="JavaScript">

var rp1 = radialProgress(document.getElementById('div1'))
                .diameter(300)
                .value(<%= user.get('dailyBudget') - total %>)
                .maxValue(<%= user.get('dailyBudget') %>)
                .render();
</script>